.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  height: 3.5rem;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }
}
